NEXT_PUBLIC_SANITY_PROJECT_ID=i4t9kzxg
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01
SANITY_API_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

RESEND_API_KEY=

NEXT_PUBLIC_SITE_URL=https://mandakinirao.com
ADMIN_EMAIL=

ADMIN_PASSWORD=
